<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1>Welcome, <%= @user.name %>!</h1>
<h2>Region: <%= @user.region.name %></h2>

<p><a href="/leads/new">Create New Lead</a> or <a href="/logout">Log Out</a> to continue.
<br><br>

<p>OR</p>
<form action="/leads/show" method="get">
  <label>Select a lead id:</label>
  <input type="text" name="lead_id">
  <input type="submit" value="Show">
</form>
<br>
<h2>Your Leads:</h2>
<table>
  <tr>
    <th>ID no</th>
    <th>Lead Name</th>
    <th>Status</th>
  </tr>
  <% @user.leads.each do |lead| %>
  <tr>
      <td><%= lead.id %></td>
      <td><%= lead.name %></td>
      <td><%= lead.status %></td>
  </tr>
  <% end %>
</table>
